---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Benefits from '../components/Benefits.astro';
import Testimonial from '../components/Testimonial.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <Hero />
  <div class="oa-wrap">
    <HowItWorks />
    <Benefits />
    <Testimonial />
  </div>
  <Footer />
</Layout>
